<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <!-- This div only appears when the selected unit of measurement is 'metric' -->
  <div *ngIf="mds.unit === 'metric'" class="ion-padding width-control">
    <h1 class="ion-padding">Ingredients: Metric</h1>

    <ion-card
      id="ion-card"
      class="ion-padding"
      *ngFor="let ingredient of mds.ingredients"
    >
      <img
        class="ingredient-image"
        [src]="'https://spoonacular.com/cdn/ingredients_250x250/' + ingredient.image"
      />
      <ion-card-header>
        <ion-card-title id="ion-card-title"
          >{{ingredient.original}}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        {{ingredient.measures.metric.amount}}
        {{ingredient.measures.metric.unitLong}}</ion-card-content
      >
    </ion-card>
  </div>

  <!-- This div only appears when the selected unit of measurement is 'us' -->
  <div *ngIf="mds.unit === 'us'" class="ion-padding width-control">
    <h1 class="ion-padding">Ingredients: US</h1>

    <ion-card
      id="ion-card"
      class="ion-padding"
      *ngFor="let ingredient of mds.ingredients"
    >
      <img
        class="ingredient-image"
        [src]="'https://spoonacular.com/cdn/ingredients_250x250/' + ingredient.image"
      />
      <ion-card-header>
        <ion-card-title id="ion-card-title"
          >{{ingredient.original}}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        {{ingredient.measures.us.amount}}
        {{ingredient.measures.us.unitLong}}</ion-card-content
      >
    </ion-card>
  </div>

  <!-- Instructions -->
  <div class="ion-padding">
    <h1 class="ion-padding">Instructions</h1>

    <ion-list [inset]="true" id="ion-list">
      <ion-item *ngFor="let step of mds.instructions">
        <ion-label>{{step.number}}: {{step.step}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Add to favourites button -->
  <!-- Display if the id ISN'T present in the favouritesList array -->
  <div *ngIf="!mds.favouritesList.includes(mds.recipeID)" class="ion-padding">
    <ion-button
      class="button-custom ion-padding"
      (click)="addToFavourites(mds.recipeID)"
    >
      Add to Favourites
      <ion-icon slot="end" name="heart-sharp"></ion-icon>
    </ion-button>
  </div>

  <!-- Remove from favourites button -->
  <!-- Display if the id IS present in the favouritesList array -->
  <div *ngIf="mds.favouritesList.includes(mds.recipeID)" class="ion-padding">
    <ion-button
      class="button-custom ion-padding"
      (click)="removeFromFavourites(mds.recipeID)"
    >
      Remove from Favourites
      <ion-icon slot="end" name="heart-sharp"></ion-icon>
    </ion-button>
  </div>
</ion-content>
