<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourite Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <!-- <div class="width-control ion-padding">
    <ion-card id="ion-card" *ngFor="let recipe of recipeData">
      <img [src]="recipe.image" />
      <ion-card-header>
        <ion-card-title id="ion-card-title">{{recipe.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content> </ion-card-content>

      <ion-button
        (click)="getRecipeDetails(recipe.id)"
        shape="round"
        size="small"
        class="button-custom"
        >Details</ion-button
      >
    </ion-card>
  </div> -->
</ion-content>
