<ion-header translucent="true">
  <ion-toolbar class="header">
    <ion-title slot="start"> G00472870 </ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-sharp" class="header"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="cog-sharp" class="header"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background"> </ion-content>
