#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #ebe1d1;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
  --background: #ebe1d1;
  color: #0d4715;
}

.page-background {
  --background: #ebe1d1;
}
