<ion-header translucent="true">
  <ion-toolbar class="header">
    <ion-title slot="start"> G00472870 </ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart-sharp" class="header"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="cog-sharp" class="header"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <div class="ion-padding">
    <h1>Recipe Finder</h1>

    <p>
      To search for a recipe containing multiple ingredients, please seperate
      each ingredient with a comma.
    </p>
  </div>
  <div class="width-control ion-padding-horizontal">
    <ion-searchbar
      show-clear-button="always"
      clear-icon="trash-bin"
      placeholder="Enter Ingredients"
      id="searchbar"
      shape="round"
    ></ion-searchbar>
    <ion-button expand="block" shape="round" size="small" class="button-custom">
      Search
    </ion-button>
  </div>

  <div class="width-control ion-padding">
    <ion-card id="ion-card" *ngFor="let recipe of recipeData">
      <img [src]="recipe.image" />
      <ion-card-header>
        <ion-card-title id="ion-card-title">{{recipe.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content> </ion-card-content>

      <ion-button
        (click)="loadRecipeDetails(recipe.id)"
        shape="round"
        size="small"
        class="button-custom"
        >Details</ion-button
      >
    </ion-card>
  </div>
</ion-content>
