<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <div class="ion-padding">
    <h1>Unit of Measurement:</h1>

    <ion-radio-group
      [(ngModel)]="unit"
      (ionChange)="selectRadio($event)"
      id="radio"
      [allowEmptySelection]="true"
      [value]="unit"
    >
      <ion-radio value="metric">Metric</ion-radio><br />
      <ion-radio value="us">US</ion-radio><br />
    </ion-radio-group>
  </div>
</ion-content>
